<div class="social-share">
  <a class="btn btn-sm btn-social btn-fb" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank" title="Share this post on Facebook"><i class="bi bi-facebook"></i> Share</a>
  <a class="btn btn-sm btn-social btn-tw" href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ page.url | absolute_url }}" target="_blank" title="Share this post on Twitter"><i class="bi bi-twitter"></i> Tweet</a>
  <a class="btn btn-sm btn-social btn-in" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&amp;title={{ page.title }}" target="_blank" title="Share this post on LinkedIn"><i class="bi bi-linkedin"></i></a>
  <a class="btn btn-sm btn-social btn-gp" href="https://plus.google.com/share?url={{ page.url | absolute_url }}" target="_blank" title="Share this post on Google +"><i class="bi bi-google"></i></a>
  <a class="btn btn-sm btn-social btn-rd" href="https://www.reddit.com/submit?url={{ page.url | absolute_url }}&title={{ page.title }}" target="_blank" title="Share this post on Reddit"><i class="bi bi-reddit"></i></i></a>
  <a class="btn btn-sm btn-social btn-hn" href="https://news.ycombinator.com/submitlink?u={{ page.url | absolute_url }}&t={{ page.title }}" target="_blank" title="Share this post on Hacker News">HN</a>
</div>
